<!DOCTYPE html>
<html>
{% include "head.html" %}
  <body>
    <div class="page">
      <!-- Main Navbar-->
      <header class="header">
{% include 'main_nav.html' %}
      </header>
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
{% include 'side_nav.html' %}
          <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Your Records</h2>
            </div>
          </header>
          <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Add Admin</h3>
                    </div>
                    <div class="card-body">
                     <section class="forms" style="margin-left: 200px">
            <div class="container-fluid" >
              <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-auto">
                  <div class="card" >
                     <div class="card-body" >

                      <form method="post" id="" action="{% url "tracksys:addCertInfo" %}">

                       <label class="form-control-label">Admin CECid:</label>

                        <div class='form-group' >

                            <input class="form-control" name="admin_cecid" id="admin_cecid" type="text" >
                        </div>
                          <label class="form-control-label">Type</label>
                      <div class="form-group">
                          <input type="checkbox" name="type" value="certificate_admin"> Certificate Admin
                          <input type="checkbox" name="type" value="people_admin"> People Admin
                      </div>
                          <label class="form-control-label">Active</label>
                          <div class="form-group">
                              <input  name="priority" type="radio" value="true" /> True
                              <input  name="priority" type="radio" value="false"/> False
                          </div>

{#                          <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>#}
{#                          <script language="JavaScript">#}
{#   $("#certificate_type").change(function() {#}
{#    var cert_type = $(this).val();#}
{#    if (cert_type == 'Other Certificate') {#}
{#        $('#certificate_name').hide();#}
{#        $('#certificate_others').show();#}
{##}
{#            }#}
{#     else{#}
{#         $('#certificate_others').hide();#}
{#        $('#certificate_name').show();}#}
{##}
{#       $.ajax({#}
{##}
{#            url: '/certAjax/',#}
{##}
{#            data: {"cert_type": cert_type},#}
{#            type: 'GET',#}
{#            dataType: 'json',#}
{##}
{#            success: function (data) {#}
{#                var content = '';#}
{#                $.each(data, function (i, item) {#}
{#                    content += '<option value="' + item.certificate_name + '">' + item.certificate_name + '</option>'#}
{#                });#}
{#                $('#certificate_name').html(content);#}
{#                $('#certificate_others').html()#}
{#            },#}
{##}
{#        });#}
{##}
{#})#}
{#</script>#}


                          <br><br>
                        <div class="form-group">
                          <input type="submit" value="Save" class="btn btn-primary" onclick="return add()">
                        </div>
                      </form>
                    </div>
                  </div>

              </div>
              </div></div>
          </section>
                    </div>







          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Copyright &copy; 2019 Cisco SBS All rights reserved.</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p></p>

                </div>
              </div>
            </div>
          </footer>

    <!-- JavaScript files-->
             <script>
            function add() {
    var msg = "Do you want to add this certificate???";
    if (confirm(msg)==true){
    return true;
}else{
return false;
}
}
        </script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/static/js/charts-home.js"></script>
    <!-- Main File-->
    <script src="/static/js/front.js"></script>
        </body>
</html>