<!DOCTYPE html>
<html>
{% include "head.html" %}
  <body>
    <div class="page">
      <!-- Main Navbar-->
      <header class="header">
{% include 'main_nav.html' %}
      </header>
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
{% include 'side_nav.html' %}
          <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Your Records</h2>
            </div>
          </header>
          <div class="card-header d-flex align-items-center">
                      <h3 class="h4"> Certificate Record Detail</h3>
                    </div>
                    <div class="card-body">
                     <section class="forms" style="margin-left: 200px">
            <div class="container-fluid" >
              <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-auto">
                  <div class="card" style="width: 100%">
                     <div class="card-body" >

                      <form method="post" id="" action="{% url 'tracksys:updateCertificateRecord' %}"  enctype="multipart/form-data">
                        <label class="form-control-label">Certificate Type:</label>

                        <div class='form-group' >
                           {{ certificate_record.certificate_type }}
                        </div>
                       <label class="form-control-label">Certificate Name:</label>

                        <div class='form-group' >
                           {{ certificate_record.certificate_name }}
                        </div>
                          <label class="form-control-label">Exam Date</label>
                      <div class="form-group">
                          {{ certificate_record.exam_date }}
                      </div>
                          <label class="form-control-label">Score Date</label>
                          <div class="form-group">
                              {{ certificate_record.score_date }}
                          </div>
                          <label class="form-control-label">Record Description</label>
                      <div class="form-group">
                          <textarea class="form-control" name="description" id="record_description" disabled>{{ certificate_record.description }}</textarea>
                      </div>
                          <label class="form-control-label">Image</label>

                          <div class="form-group">
                               {% for i in certificate_record.evidence %}
                                   <img class="img-responsive" src="{{ i}}" alt="error">
                              {% endfor %}
                          </div>
                              <label class="form-control-label">Active duration</label>

                          <div class="form-group">
                               {{ certificate_record.active_duration }}
                          </div>

                         <label class="form-control-label">Priority</label>

                          <div class="form-group">
                               {{ certificate_record.priority }}
                          </div>
                      </form>
                    </div>
                  </div>

              </div>
              </div></div>
          </section>
                    </div>







          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Copyright &copy; 2019 Cisco SBS All rights reserved.</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p></p>

                </div>
              </div>
            </div>
          </footer>

    <!-- JavaScript files-->
             <script>
            function add() {
    var msg = "Do you want to edit this record???";
    if (confirm(msg)==true){
    return true;
}else{
return false;
}
}
        </script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/static/js/charts-home.js"></script>
    <!-- Main File-->
    <script src="/static/js/front.js"></script>
        </body>
</html>