        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="https://wwwin.cisco.com/dir/photo/zoom/{{ cecid }}.jpg" alt="hahaha" class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">{{cecid}}</h1>
              <p>{{user.name}}</p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Nav Bar</span>
          <ul class="list-unstyled">
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>My Profile</a>
                      <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                          <li><a href="#"><strong>Title:</strong>&nbsp;{{ user.title }}</a></li>
{#                          <li><a href="#"> Lastname:{{ user.lastname }}</a></li>#}

                          <li><a href="#"><strong>Departid:</strong>&nbsp;{{ user.departid }}</a></li>

                          <li><a href="#"><strong>Employid:</strong>&nbsp;{{ user.employid }}</a></li>
                          <li><a href="#"><strong>Site:</strong>&nbsp;{{ user.site }}</a></li>

                      </ul>
                    </li>
          {% if title == "Certificate Admin" %}
                    <li><a href="{% url 'tracksys:add_cert_info_page' %}" > <i class="icon-grid"></i>Add a New Certificate </a></li>
              {% elif title == "People Admin View" %}
                                  <li><a href="{% url 'tracksys:addAdmin' %}" > <i class="icon-grid"></i>Add a New Admin </a></li>
              {% else %}
                                  <li><a href="{% url 'tracksys:addCertPage' %}" > <i class="icon-grid"></i>Add a Certificate Record</a></li>
          {% endif %}
{#                    <li><a href="{% url 'tracksys:trainingAdd' %}"> <i class="fa fa-bar-chart"></i>Add a Training Record</a></li>#}
{#                    <li><a href="{% url 'tracksys:userupdate' %}"> <i class="icon-padnote"></i>Manage Profile</a></li>#}
          </ul>
        </nav>
